:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
  }
  
body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: var(--primary-dark);
    background-color: var(--primary-light);
}

button {
    display: block;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
i{
    margin-right: 1rem;
}

/* Header */
header{
    border-bottom: 4px solid; 
    display:flex;
    align-items:center;
    justify-content:center;
}

.name{
    display: inline;
    width: 100%;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-right: 9%;
}


/* Main */
.main {
    display: flex;
    /* min-height: calc(100vh - header_height) */
    min-height: calc(100vh - 10.4rem);
    margin-bottom: 3.5rem;
}

.nav {
    flex: 1;
    max-width: 300px;
    padding: 2rem;
    background-color: var(--secondary-light);
}
.nav.active {
    display: block;
}

.button-default-project {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-light);
    text-align: left;
}

.projects-title {
    padding: 1rem;
    margin-top: 1rem;
  }

  .user-projects {
    position: relative;
  }

  .button-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-light);
    text-align: left;
  }
  .button-add-project {
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0.2rem;
    background-color: var(--secondary-light);
    text-align: left;
  }
  
  .button-add-project.active {
    display: none;
  }


.button-project.active,
.button-default-project.active
{
  font-weight: bold;
  background-color: #ccc;
}

.button-project:hover,.button-default-project:hover,.button-add-project:hover
{
    background-color: #ccc;
}

.right-project-panel {
    visibility: hidden;
  }
  
  .button-project:hover .right-project-panel {
    visibility: visible;
  }

  .fa-times {
    margin-right: 0;
  }

  .add-project-popup,
  .add-task-popup {
    display: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  
  .add-project-popup.active,
  .add-task-popup.active {
    display: block;
  }

  .input-add-project-popup,
  .input-add-task-popup {
    width: 89%;
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .add-project-popup-buttons,
  .add-task-popup-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
  }

  .button-add-project-popup,
  .button-add-task-popup{
    width: 45%;
    border: 1px solid #99dd99;
    background-color: #aaffaa;
    font-weight: bold;
  }

  .button-cancel-project-popup,
  .button-cancel-task-popup {
    width: 45%;
    border: 1px solid #eeadad;
    background-color: #ffbebe;
    font-weight: bold;
  }

  .button-add-project-popup:hover,
  .button-add-task-popup:hover {
    background-color: #a6f0a6;
  }
  
  .button-cancel-project-popup:hover,
  .button-cancel-task-popup:hover {
    background-color: #f5b2b2;
  }

  .project-preview {
    flex: 5;
    max-width: 900px;
    padding: 2rem 4rem;
  }

  .project-preview h1 {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .button-add-task {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
  
  .button-add-task.active {
    display: none;
  }
  
  .button-add-task:hover {
    background-color: #ddd;
  }
  .button-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-light);
    cursor: default;
    height: 3rem;
  }
  
  .button-task:hover {
    background-color: #ddd;
  }
  
  .left-task-panel {
    display: flex;
    align-items: center;
  }
  
  .fa-circle {
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .task-content {
    cursor: pointer;
  }
  
  .task-content.active {
    display: none;
  }
  .button-task .right-task-panel i {
    visibility: hidden;
    cursor: pointer;
  }
  
  .button-task:hover .right-task-panel i {
    visibility: visible;
  }  

  .right-task-panel {
    display: flex;
    align-items: center;
    margin-left: 35rem;
  }
  
  .left-task-panel:hover,
  .right-task-panel:hover{
    font-weight: bold;
  }
  .due-date {
    margin-right: 1rem;
    cursor: pointer;
  }

  